.BolaDaVez {
  padding: 50px 0 0;
  width: 100%;
  height: auto;
  position: relative;
}
.BolaDaVez > .container {
  padding: 0 70px;
}
.BolaDaVez .blue-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.boladavez-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  background: var(--light-blue);
  padding: 70px 30px 90px 100px;
}
.boladavez-title-wrapper h2 {
  font-size: 32px;
  line-height: 32px;
  color: var(--blue);
  font-family: "Decima Mono Bold";
  padding: 10px 0 0;
}
.blue-box p {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  font-family: "Open Sans";
  padding: 20px 30px 0 250px;
  z-index: 2;
  position: relative;
}
.blue-box::before {
  content: '';
  height: 68%;
  width: 53%;
  background: var(--blue);
  z-index: 1;
  position: absolute;
  top: 100px;
  right: 0;
}
@media (max-width: 1000px) {
  .boladavez-wrapper {
    flex-flow: column;
    padding: 50px 30px;
  }
  .boladavez-title-wrapper {
    width: 100%;
    height: auto;
  }
  .blue-box::before {
    content: unset;
  }
  .blue-box p {
    padding: 20px 20px;
    background: var(--blue);
    margin: 30px 0 0;
  }
  .BolaDaVez {
    padding: 0 0;
    width: 100%;
    height: auto;
    position: relative;
  }
  .BolaDaVez > .container {
    padding: 0 0;
  }
}
@media (max-width: 576px) {

}