.Futuro {
  width: 100%;
  height: 100%;
  background: var(--light-blue);
}
.futuro-wrapper h2 {
  font-size: 26px;
  color: var(--blue);
  font-family: "Decima Mono Bold";
  padding: 150px 0 50px;
}
.futuro-row { 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row;
}
.futuro-row-black-box {
  background: #212222;
}
.futuro-row-black-box p {
  color: #fff;
}
@media (max-width: 992px) {
  .futuro-wrapper h2 {
    padding: 350px 0 50px;
  }
}
@media (max-width: 892px) {
  .futuro-wrapper h2 {
    padding: 450px 0 50px;
  }
}
@media (max-width: 768px) {
  .futuro-wrapper h2 {
    padding: 550px 0 50px;
  }
  .futuro-row { 
    flex-flow: column;
  }
}
@media (max-width: 576px) {
  .futuro-wrapper h2 {
    padding: 950px 0 50px;
  }
  .hero-grid {
    grid-template-columns: 1fr;
  }
}
