.Logos {
  background: #c32026;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Logos img {
  width: 40%;
  height: auto;
  padding: 5px 0;
}
@media (max-width: 560px) {
  .Logos img {
    width: 60%;
  }
}