.QuemConfia {
  width: 100%;
  height: auto;
  background: var(--light-blue);
  padding: 50px 0;
}
.QuemConfia > .container {
  padding: 0 70px;
}
.QuemConfia .blue-line {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  position: relative;
  top: -5px;
}
.QuemConfia h2 {
  font-size: 32px;
  line-height: 32px;
  color: var(--blue);
  font-family: "Decima Mono Bold";
  padding: 0 0 50px;
}
.autor {
  font-size: 14px;
  color: #fff;
  font-family: "Decima Mono";
  padding: 10px 0 20px;
}
.autor-subtitle {
  font-size: 12px;
  color: #fff;
  font-family: "Open Sans";
  font-weight: bolder;
  padding: 0 0 20px;
  line-height: 20px;
}
.autor-about {
  font-size: 12px;
  color: #fff;
  font-family: "Open Sans";
  line-height: 20px;
}
.quem-confia-wrapper {
  display: flex;
  flex-flow: row;
  width: auto;
  height: auto;
}
.red-box {
  padding: 20px 50px;
  width: auto;
  height: 315px;
  background: var(--red);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
}
.youtube-wrapper {
  width: auto;
  height: auto;
}
@media (max-width: 1100px) {
  .quem-confia-wrapper {
    flex-flow: column;
  }
  iframe {
    width: 100%;
  }
  .red-box {
    padding: 50px 20px;
  }
  .linha-red-box {
    display: none;
  }
}
@media (max-width: 560px) {
  .QuemConfia > .container {
    padding: 0 20px;
  }
}