.Vagas {
  padding: 50px 0;
  width: 100%;
  height: auto;
}
.vagas-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
}
.vagas-card {
  background: #fff;
  -webkit-box-shadow: 3px 7px 10px -1px rgba(0,0,0,0.27);
  -moz-box-shadow: 3px 7px 10px -1px rgba(0,0,0,0.27);
  box-shadow: 3px 7px 10px -1px rgba(0,0,0,0.27);
  width: 100%;
  height: auto;
  padding: 80px 40px;
}
.vagas-card-title {
  font-size: 18px;
  color: #000;
  font-family: "Open Sans";
  font-weight: bolder;
  padding: 0 0 20px;
}
.vagas-card-subtitle {
  font-size: 14px;
  color: var(--blue);
  font-family: "Open Sans";
  font-weight: bolder;
  padding: 0 0 20px;
}
.vagas-card-about {
  font-size: 12px;
  color: var(--gray);
  font-family: "Open Sans";
  font-weight: bolder;
  padding: 0 0 20px;
}
.vagas-text-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: left;
  width: 100%;
  height: auto;
  padding: 0 80px;
}
.vagas-text-wrapper h2 {
  font-size: 26px;
  color: var(--blue);
  font-family: "Decima Mono Bold";
  padding: 30px 0 0;
}
.vagas-text-wrapper p {
  font-size: 26px;
  color: #000;
  font-family: "Decima Mono Bold";
}
.vagas-text-wrapper span {
  font-size: 12px;
  color: #000;
  font-family: "Decima Mono Bold Italic";
  padding: 10px 0 0;
}
.btn-vagas {
  font-size: 14px;
  color: #fff;
  font-family: "Decima Mono";
  padding: 10px 20px;
  background: var(--red);
  border-radius: 3px;
}
.btn-vagas:hover {
  background: var(--blue);
  color: var(--light-blue);
  transition: 0.9s;
}