:root {
  --red: #ea234e;
  --blue: #1e3f77;
  --light-blue: #d8ecf9;
  --black: #212222;
  --gray: #7C8398;
  --dark-gray: #505150;
  --black: #212222;
}
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:focus {
  outline: 0;
}
::-webkit-scrollbar {
  width: 0.4rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--red);
}
::selection {
  background-color: var(--red);
  color: #EDF5FC;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
}
li {
  list-style-type:none;
}
button {
  cursor: pointer;
  background: transparent;
  border: initial;
}
.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 20px 70px;
}
.display-none {
  display: none;
}
.red-line,
.blue-line,
.white-line {
  width: 80px;
  height: auto;
}
@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
  .display-none-900 {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  .display-none-700 {
    display: none !important;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 540px;
    padding: 20px 20px;
  }
  .display-none-500 {
    display: none !important;
  }
  .display-block-500 {
    display: block !important;
  }
}
